h1 {
	text-align: center;	
}

	canvas {
        position: absolute;
        background: transparent;
      }

	#container {
	   width: 1000px;
	   margin-left: auto;
	   margin-right: auto;
	}

	#background {
		z-index: -2;
	}

	#entity {
		z-index: -1;
	}

	#foreground {
		z-index: 0;
	}

	#lifeBar {
		position: relative;
		top: 515px;
	}

body {
	background-color: #000000;
}